<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test name="CartPageTests">
        <classes>
            <class name="com.ecommerce.qa.tests.CartPageTests"/>
        </classes>
    </test>
    <test name="LoginPageTests">
        <classes>
            <class name="com.ecommerce.qa.tests.LoginPageTests"/>
        </classes>
    </test>
    <test name="ContactPageTests">
        <classes>
            <class name="com.ecommerce.qa.tests.ContactPageTests"/>
        </classes>
    </test>
    <test name="ForgetPasswordPageTests">
        <classes>
            <class name="com.ecommerce.qa.tests.ForgetPasswordPageTests"/>
        </classes>
    </test>
    <test name="HomePageTests">
        <classes>
            <class name="com.ecommerce.qa.tests.HomePageTests"/>
        </classes>
    </test>
</suite>
